business/go.sum
business/main
business/log.txt
business/pid.txt

test/part1/step0/data.txt
test/part1/step0/go.sum
test/part1/step0/main

test/part1/step1/data.txt
test/part1/step1/go.sum
test/part1/step1/main

test/part1/step2/data.txt
test/part1/step2/go.sum
test/part1/step2/main

test/part1/step3/data.txt
test/part1/step3/go.sum
test/part1/step3/main

tool/go.sum
